<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ config.site_name }} - Home</title>
    <link rel="stylesheet" href="/static/css/{{ config.theme }}" />
</head>
<body>
    {% include 'includes/navigation.html' %}

    <main>
        <h1>Boards</h1>
        <ul>
            {% for board in boards %}
            <li><a href="{{ url_for('get_root', board_name=board[1].strip('/')) }}">{{ board[1] }}</a></li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
